.achievements-main-body-part{

    grid-area: main-body-part;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: 
    
        'award-photo-section award-details-section problem-solving-section'
    
    ;

}

.award-photo-section{

    grid-area: award-photo-section;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    
        'award-photo-title'
        'takeoff-award'
    
    ;
    place-items: center;

}

.award-details-section{

    grid-area: award-details-section;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    
        'takeoff-preli-award'
        'takeoff-final-award'
        'icsc-qualification-award'

    ;
    place-items: center;
    cursor: default;

}

.problem-solving-section{

    grid-area: problem-solving-section;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    
        'problem-solving-title-section'
        'problem-solving-graph-section'

    ;
    place-items: center;

}

.takeoff-award{

    grid-area: takeoff-award;
    transform: scale(0.7);
    transition: transform 1s ease;

}

.takeoff-award:hover{

    transform: scale(0.9);

}

.award-photo-title{

    grid-area: award-photo-title;
    color: white;
    cursor: default;
    transition: transform 1s ease;

}

.award-photo-title:hover{

    transform: scale(2);

}

.common-award-card{

    border-radius: 30px 30px 30px 30px;
    height: 50%;
    font-size: 1.6rem;
    padding: 1rem;
    display: grid;
    place-items: center;
    background-color: #00acf6;
    transition: transform 1s ease;

}

.common-award-card:hover{

    transform: scale(1.2);
    background-color: #017eb4;

}

.takeoff-preli-award{

    grid-area: takeoff-preli-award;

}

.takeoff-final-award{

    grid-area: takeoff-final-award;

}

.icsc-qualification-award{

    grid-area: icsc-qualification-award;

}

.problem-solving-title-section{

    grid-area: problem-solving-title-section;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: default;

}

.problem-solving-title{

    transition: transform 1s ease;

}

.problem-solving-title:hover{

    transform: scale(1.5);

}

.problem-solving-graph-section{

    grid-area: problem-solving-graph-section;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    
        'leetcode-problem-solved beecrowd-problem-solved toph-problem-solved codeforces-problem-solved'
    
    ;
    place-items: center;
    align-items: end;
    cursor: default;

}

.common-problem-solved{

    width: 70%;
    font-size: 2rem;
    display: grid;
    grid-template-rows: 10% 80%;
    place-items: center;
    align-items: end;
    transition: height 1s ease;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0.2rem 0px 0.5rem rgb(80, 80, 80);

}

.common-problem-solved:hover{

    height: 110%;

}

.leetcode-problem-solved{

    grid-area: leetcode-problem-solved;
    background-color: #ff0000;
    height: 100%;

}

.leetcode-problem-solved:hover{

    background-color: #ac0000;

}

.beecrowd-problem-solved{

    grid-area: beecrowd-problem-solved;
    background-color: #00ff12;
    height: 95%;

}

.beecrowd-problem-solved:hover{

    background-color: #00a70b;

}

.toph-problem-solved{

    grid-area: toph-problem-solved;
    background-color: #00acf6;
    height: 80%;

}

.toph-problem-solved:hover{

    background-color: #00648f;

}

.codeforces-problem-solved{

    grid-area: codeforces-problem-solved;
    background-color: #ffbd59;
    height: 75%;

}

.codeforces-problem-solved:hover{

    background-color: #d37f00;

}