/******* UNIVERSAL SECTION *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/******* UNIVERSAL SECTION *******/





/******* BODY SECTION *******/
body {
    background-color: black;
}

section.main-body-section {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
        'col-1 col-2 col-3 col-4';
    position: relative;
}

section.about-project-education-section {
    grid-area: col-1;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

section.intro-card-profile-problem-solving-section {
    grid-area: col-2;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

section.achievements-contact-section {
    grid-area: col-3;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

section.skills-finishing-section {
    grid-area: col-4;
    display: grid;
    grid-template-rows: repeat(2, auto);
}
/******* BODY SECTION *******/






/******* ABOUT ME SECTION *******/
section.about-me-section {
    padding: 0.4em;
    font-size: 1.6em;
    color: white;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        'amt-col-1 amt-col-2'
        'amt-row amt-row';
    place-items: center;
    background-color: #101010;
    border-radius: 40px 40px 40px 40px;
    width: 98%;
    height: 98%;
}

img.about-me-logo {
    grid-area: amt-col-1;
}

img.common-logo-property {
    width: 3vw;
    justify-self: right;
}

p.about-me-title {
    grid-area: amt-col-2;
    height: min-content;
    color: #d3d2d2;
    justify-self: left;
}

p.about-me {
    grid-area: amt-row;
}
/******* ABOUT ME SECTION *******/





/******* PROJECT SECTION *******/
section.project-section {
    background-color: #101010;
    height: 98%;
    border-radius: 40px;
    width: 98%;
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
    place-items: center;
}

section.project-section-header-1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    font-size: 1.5em;
}

p.project-section-header-1-text {
    color: #d3d2d2;
}

img.project-section-logo {
    width: 3vw;
}

section.project-section-header-2 {
    font-size: 1.8em;
}

section.project-section-footer-button {
    background-color: #936cea;
    font-size: 1.9em;
    padding: 0.5em;
    border-radius: 20px;
}

a.project-section-button {
    text-decoration: none;
    color: white;
}

img.common-project-gallery {
    width: 50%;
}

section.project-section-gallery-part {
    height: 100%;
    overflow-x: auto;
    display: flex;
}

section.project-gallery-sliding-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}

section.project-section-gallery-part::-webkit-scrollbar {
    display: none;
}


@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
/******* PROJECT SECTION *******/






/******* EDUCATION SECTION *******/
section.education-section {
    background-color: #101010;
    border-radius: 40px 40px 40px 40px;
    color: white;
    padding: 0.4em;
    font-size: 1.6em;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        'edu-col-1 edu-col-2'
        'edu-row-1 edu-row-1'
        'edu-row-2 edu-row-2';
    place-items: center;
    width: 98%;
}

img.education-logo {
    grid-area: edu-col-1;
}

p.education-title {
    grid-area: edu-col-2;
    color: #d3d2d2;
    justify-self: left;
}

p.education {
    grid-area: edu-row-1;
}

section.education-button-section {
    grid-area: edu-row-2;
    background-color: #936cea;
    padding: 0.5em;
    border-radius: 20px;
    width: 50%;
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
}
/******* EDUCATION SECTION *******/




/******* INTRO CARD SECTION *******/
section.intro-card-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    color: white;
    column-gap: 1%;
}

section.project-card {
    background-color: #101010;
    border-radius: 40px;
    display: grid;
    place-items: center;
}

section.skill-card {
    background-color: #101010;
    border-radius: 40px;
    display: grid;
    place-items: center;
}

section.cgpa-card {
    background-color: #101010;
    border-radius: 40px;
    display: grid;
    place-items: center;
    width: 98%;
}

p.common-card-text {
    font-size: 4em;
}

section.common-card-footer {
    border: 1px solid gray;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    border-radius: 20px;
}

p.common-card-footer-text {
    font-size: 1.4em;
}

img.common-card-logo-property {
    width: 1.5em;
}
/******* INTRO CARD SECTION *******/



/******* PROFILE SECTION *******/
section.profile-section {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

section.middle-part {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    place-items: self-start;
    color: white;
    place-content: center;
    background-color: black;
    border-radius: 40px;
}

section.common-middle-part {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-radius: 20px;
}

p.middle-part-text {
    font-size: 1.4em;
}

section.heading-part {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

section.footer-part {
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: white;
    font-size: 1.5em;
    place-items: center;
}

section.profile-picture-part {
    display: grid;
    place-items: center;
}

section.profile-picture-details-part {
    display: grid;
    align-items: center;
    color: white;
    font-size: 1.6em;
}

span.profile-picture-details-bio-2 {
    color: #936cea;
}

section.resume-part {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    font-size: 1.4em;
}

section.common-footer-left-right-part {
    display: grid;
    place-items: center;
    background-color: #212020;
    border-radius: 50px;
    height: 70%;
    width: 80%;
}

img.common-middle-logo-part {
    width: 2vw;
}

img.profile-picture {
    border-radius: 30px;
    background-color: #936cea;
    max-width: 50%;
    height: auto;
    display: block;
}
/******* PROFILE SECTION *******/




/******* PROBLEM SOLVING SECTION *******/
section.problem-solving-section {
    background-color: #101010;
    border-radius: 40px;
    color: white;
    display: grid;
    grid-template-rows: 0.2fr 1.8fr;
    width: 98%;
}

section.problem-solving-title-section {
    display: grid;
    place-items: center;
    font-size: 1.7em;
}

section.problem-solving-graph-section {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    font-size: 1.3em;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
}

section.problem-solving-graph-title {
    text-align: center;
}

section.common-problem-solving-graph {
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

section.leetcode-graph {
    background-color: red;
    width: 95%;
}

section.beecrowd-graph {
    background-color: #00ff12;
    width: 90%;
}

section.toph-graph {
    background-color: #00acf6;
    width: 75%;
}

section.codeforces-graph {
    background-color: #ffbd59;
    width: 70%;
}
/******* PROBLEM SOLVING SECTION *******/




/******* ACHIEVEMENT SECTION *******/
section.achievements-section {
    background-color: #101010;
    height: 98%;
    border-radius: 40px;
    width: 98%;
    color: white;
    font-size: 1.3em;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

section.achievements-section-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
}

p.achievements-section-header-text {
    justify-self: left;
    font-size: 1.2em;
    color: #d3d2d2;
}

img.achievements-section-logo {
    justify-self: right;
}

section.common-award {
    background-color: #181818;
    text-align: center;
    border-radius: 40px;
}

section.achievements-section-middle-part {
    display: grid;
    place-content: space-evenly;
    font-size: 1.4em;
}

section.achievements-section-footer {
    display: grid;
    place-items: center;
}
/******* ACHIEVEMENT SECTION *******/





/******* CONTACT SECTION *******/
section.contact-section {
    background-color: #101010;
    border-radius: 40px;
    color: white;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr;
    width: 98%;
}

section.contact-logo-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    font-size: 1.3em;
}

p.contact-logo-section-title {
    justify-self: left;
    color: #d3d2d2;
}

img.contact-logo {
    justify-self: right;
}

section.contact-title-section {
    font-size: 1.6em;
    display: grid;
    place-items: center;
}

section.contact-details-section {
    display: grid;
    place-items: center;
    font-size: 1.9em;
}

section.contact-details-facebook {
    background-color: #181818;
    width: 50%;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    height: 50%;
}

section.contact-details-linkedin {
    background-color: #181818;
    width: 50%;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    height: 50%;
}

section.contact-details-github {
    background-color: #181818;
    width: 50%;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    height: 50%;
}

section.contact-details-x {
    background-color: #181818;
    width: 50%;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    height: 50%;
}
/******* CONTACT SECTION *******/




/******* SKILLS SECTION *******/
section.skills-section {
    background-color: #101010;
    border-radius: 40px;
    width: 98%;
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    height: 98%;
}

section.skills-section-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    font-size: 1.5em;
}

p.skills-section-header-title {
    color: #d3d2d2;
    justify-self: left;
}

img.skills-section-header-logo {
    justify-self: right;
}

section.skills-section-footer {
    display: grid;
    grid-template-rows: repeat(4, auto);
    font-size: 1.6em;
    place-items: center;
}

section.common-skill-box {
    background-color: #181818;
    height: 60%;
    display: grid;
    place-items: center;
    border-radius: 30px;
    width: 50%;
}

p.skill-html-text {
    font-size: 0.7em;
}

/******* SKILLS SECTION *******/




/******* FINISHING SECTION *******/
section.finishing-section {
    background-color: #101010;
    border-radius: 40px;
    width: 98%;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

section.finishing-section-header {
    display: grid;
    place-items: center;
}

section.finishing-section-header-circle {
    background-color: #181818;
    width: 30%;
    height: 50%;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

img.finishing-section-logo {
    width: 3.7vw;
}

section.finishing-section-middle {
    display: grid;
    place-items: center;
}

h3.finishing-section-middle-title {
    font-size: 2em;
}

p.finishing-section-middle-footer {
    font-size: 1.1em;
    color: #d3d2d2;
}

section.finishing-section-footer {
    display: grid;
    place-content: space-evenly;
}

section.finishing-section-footer-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #181818;
    width: 100%;
    place-items: center;
    font-size: 1.5em;
    border-radius: 40px;
}

section.finishing-section-footer-schedule-call {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #181818;
    width: 100%;
    place-items: center;
    font-size: 1.5em;
    border-radius: 40px;
}

p.finishing-section-footer-call-text {
    margin-left: -50%;
}

p.finishing-section-footer-email-text {
    margin-left: -50%;
}
/******* FINISHING SECTION *******/



/******* EDUCATION POP-UP SECTION *******/
section#education-pop-up-screen-container {
    position: fixed;
    place-self: center;
    width: 100vw;
    height: 100%;
    visibility: hidden;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    place-content: center;
}

section.education-pop-up-screen-content {
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        'education-university-pop-up-one education-university-pop-up-two education-university-pop-up-three'
        'education-university-pop-up-exit education-university-pop-up-exit education-university-pop-up-exit';
    justify-self: center;
    column-gap: 3%;
    align-items: center;
}

section.common-institute-pop-up-card {
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.4em;
    padding: 0.4em;
    box-shadow: 10px 10px 10px #474646;
    cursor: default;
}

section.education-university-pop-up {
    grid-area: education-university-pop-up-one;
    background-color: #ff00003d;
}

section.education-school-pop-up {
    grid-area: education-university-pop-up-three;
    background-color: #0000ff3d;
}

section.pop-up-screen-exit-button-container {
    width: 50%;
    border-radius: 20px;
    place-self: center;
    place-content: center;
    text-align: center;
    cursor: pointer;
    grid-area: education-university-pop-up-exit;
}

button#pop-up-screen-exit-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3em;
    cursor: pointer;
}

button#pop-up-screen-open-button {
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

section.education-college-pop-up.common-institute-pop-up-card {
    grid-area: education-university-pop-up-two;
    background-color: #0080003d;
}
/******* EDUCATION POP-UP SECTION *******/



/******* AWARDS POP-UP SECTION *******/
section#awards-pop-up-screen-container {
    position: fixed;
    place-self: center;
    width: 100vw;
    height: 100%;
    visibility: hidden;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    place-content: center;
}

section.awards-pop-up-screen-content {
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-areas:
        'awards-takeoff-pop-up'
        'awards-pop-up-exit';
    justify-self: center;
    column-gap: 3%;
    align-items: center;
}

section.awards-takeoff-pop-up {
    grid-area: awards-takeoff-pop-up;
    font-size: 3em;
    color: white;
    display: grid;
    justify-items: center;
}

section.awards-pop-up-screen-exit-button-container {
    width: 50%;
    border-radius: 20px;
    place-self: center;
    place-content: center;
    text-align: center;
    cursor: pointer;
    grid-area: awards-pop-up-exit;
}

button#awards-pop-up-screen-exit-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3em;
    cursor: pointer;
}

button#awards-pop-up-screen-open-button {
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

img.takeoff-award-pic {
    width: 30%;
}

section.awards-button-section {
    background-color: #936cea;
    padding: 0.5em;
    border-radius: 20px;
    width: 50%;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

button#awards-pop-up-screen-open-button {
    width: 100%;
}
/******* AWARDS POP-UP SECTION *******/