/*********** LAPTOP VIEW ***********/

@media (max-width: 1440px){

    /*********** HEADER & FOOTER ***********/

    .nav-bar{

        height: 80px;
        grid-template-columns: 30% 70%;

    }

    .nav-bar-left{ 
        
        font-size: 1.8em;
    
    }

    .foot-bar-left{

        font-size: 1.4em;

    }

    .nav-bar-right{

        font-size: 1.6rem;

    }

    body{

        grid-template-rows: 80px 1fr 80px;

    }

    .drop-down-content{

        font-size: 1.6rem;

    }

    .drop-down-content-button{

        padding: 0.4rem;
        white-space: normal;
        word-break: break-word;

    }
    

    /*********** INDEX PAGE ***********/
    
    .index-main-body-part{

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        
            'profile-picture details'

        ;

    }

    .profile-picture{

        width: 15em;
        height: 50%;

    }

    .title-section{

        font-size: 2em;

    }

    .card{

        width: 80%;
        height: 80%;
        font-size: 1.9em;

    }

    /*********** EDUCATION PAGE ***********/

    .education-main-body-part{

        grid-area: mbPart;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        
            'logo-section education-card-section'
        
        ;

    }

    .logo-section{

        grid-area: logo-section;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: 
        
            'education-logo education-logo'
            'cloud-logo thunder-logo'

        ;
        place-items: center;

    }

    .education-logo{

        transform: scale(0.7);

    }

    .education-logo:hover{

        transform: scale(1);

    }

    .common-logo-property{

        transform: scale(0.8);

    }

    .common-logo-property:hover{

        transform: scale(1.1);

    }

    .education-card-section{

        grid-area: education-card-section;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        
            'diu-card sjhss-card fbic-card'
        
        ;
        place-items: center;

    }

    .common-card{

        width: 70%;
        font-size: 1.5em;
        padding: 0.7em;

    }

}


/*********** TABLET VIEW ***********/

@media (max-width: 1024px){

    /*********** HEADER & FOOTER ***********/

    .nav-bar{

        height: 90px;
        grid-template-columns: 30% 70%;

    }

    .nav-bar-left{ 
        
        font-size: 1.2em;
    
    }

    .foot-bar-left{

        font-size: 1.2em;

    }

    .nav-bar-right{

        font-size: 1.4rem;

    }

    body{

        grid-template-rows: 90px 1fr 90px;

    }

    .drop-down-content{

        font-size: 1.4rem;

    }

    .drop-down-content-button{

        padding: 0.4rem;
        white-space: normal;
        word-break: break-word;

    }
    

    /*********** INDEX PAGE ***********/
    
    .index-main-body-part{

        display: grid;
        grid-template-rows: 20% 80%;
        grid-template-areas: 
        
            'profile-picture'
            'details'

        ;

    }

    .details-section{

        grid-area: details;
        display: grid;
        grid-template-rows: 5% 95%;
        grid-template-areas: 
        
            'title-section'
            'main-details-section'

        ;

    }

    .profile-picture-section{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw; 

    }

    .profile-picture{

        width: 17vw;
        height: 80%;

    }

    .title-section{

        font-size: 1.3em;

    }

    .main-details-section{

        grid-template-rows: 40% 60%;
        grid-template-areas: 
        
            'index-card-section'
            'circle-section';

        ;

    }

    .index-card-section{

        width: 100vw;
        display: flex;
        justify-content: center;

    }

    .circle-section{

        grid-template-areas: 
        
            'first-circle first-circle'
            'second-circle third-circle'
        
        ;
        
        width: 100vw;


    }

    .card{

        width: 25vw;
        height: 90%;
        padding: 1em;
        font-size: 1.2em;

    }

    .first-circle{

        width: 20vw;
        height: 80%;
        font-size: 1.3em;

    }

    .second-circle{

        width: 20vw;
        height: 80%;
        font-size: 1.3em;

    }

    .third-circle{

        width: 20vw;
        height: 80%;
        font-size: 1.3em;

    }

    /*********** EDUCATION PAGE ***********/

    .education-main-body-part{

        height: 100%;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        
            'logo-section'
            'education-card-section'
        
        ;

    }

    .logo-section{

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        
            'education-logo cloud-logo thunder-logo'

        ;
        place-items: center;
        width: 100vw;

    }

    .education-logo{

        transform: scale(0.7);

    }

    .education-logo:hover{

        transform: scale(1);

    }

    .common-logo-property{

        transform: scale(0.4);

    }

    .common-logo-property:hover{

        transform: scale(0.6);

    }

    .education-card-section{

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        
            'diu-card'
            'sjhss-card'
            'fbic-card'
        
        ;
        justify-content: center;
        width: 100vw;

    }

    .common-card{

        width: 100%;
        font-size: 1.5em;
        padding: 0em;

    }

}


/*********** MOBILE VIEW ***********/
@media (max-width: 600px){

    /*********** HEADER & FOOTER ***********/

    .nav-bar{

        width: 100vw;
        height: 60px;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        
            'navigation-bar-left navigation-bar-right'

        ;

    }

    .nav-bar-left{ 
        
        display: flex;
        justify-content: center;
        font-size: 0.8em;
    
    }

    .foot-bar-left{

        font-size: 0.6em;

    }

    .nav-bar-right{
    
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        
            'home projects drop-down-container'

        ;
        place-items: center;
        font-size: 0.8rem;
        font-weight: bold;

    }

    .foot-bar-right{

        grid-template-columns: auto auto auto auto;

    }

    body{

        display: grid;
        grid-template-rows: 60px 1fr 60px;
        grid-template-areas: 
        
            'navigation-bar'
            'main-body-part'
            'footer-bar'

        ;

    }

    .drop-down-container{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100/3vw;

    }

    .drop-down-content{

        display: flex;
        flex-direction: column;
        width: 100/3vw;
        font-size: 0.7rem;

    }

    .drop-down-content-button{

        padding: 0.2rem;
        white-space: normal;
        word-break: break-word;

    }
    

    /*********** INDEX PAGE ***********/
    
    .index-main-body-part{

        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        
            'profile-picture'
            'details'

        ;

    }

    .details-section{

        grid-area: details;
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-areas: 
        
            'title-section'
            'main-details-section'

        ;

    }

    .profile-picture-section{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw; 

    }

    .profile-picture{

        width: 40vw;
        height: 70%;

    }

    .title-section{

        display: flex;
        justify-content: center;
        font-size: 1em;

    }

    .title-section-title{

        display: inline-block;

    }

    .main-details-section{

        grid-template-rows: 40% 60%;
        grid-template-areas: 
        
            'index-card-section'
            'circle-section';

        ;

    }

    .index-card-section{

        width: 100vw;
        display: flex;
        justify-content: center;

    }

    .circle-section{

        grid-template-areas: 
        
            'first-circle'
            'second-circle'
            'third-circle'
        
        ;
        
        width: 100vw;


    }

    .card{

        width: 50vw;
        height: 90%;
        padding: 1em;
        font-size: 0.8em;

    }

    .first-circle{

        width: 20vw;
        height: 80%;
        font-size: 0.7em;

    }

    .second-circle{

        width: 20vw;
        height: 80%;
        font-size: 0.7em;

    }

    .third-circle{

        width: 20vw;
        height: 80%;
        font-size: 0.7em;

    }


    /*********** EDUCATION PAGE ***********/

    .education-main-body-part{

        height: 100%;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        
            'logo-section'
            'education-card-section'
        
        ;

    }

    .logo-section{

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        
            'education-logo cloud-logo thunder-logo'

        ;
        place-items: center;
        width: 100vw;

    }

    .education-logo{

        transform: scale(1.5);

    }

    .education-logo:hover{

        transform: scale(1.8);

    }

    .common-logo-property{

        transform: scale(0.8);

    }

    .common-logo-property:hover{

        transform: scale(1.1);

    }

    .education-card-section{

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        
            'diu-card'
            'sjhss-card'
            'fbic-card'
        
        ;
        justify-content: center;
        width: 100vw;

    }

    .common-card{

        width: 100%;
        font-size: 0.8em;
        padding: 0em;

    }

}