*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    background-color: black;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: 
    
        'navBar'
        'mbPart'
        'footBar'

    ;

}

.nav-bar{

    background-image: linear-gradient(to right, #5cdde5, #024dae);
    width: 100%;
    height: 80px;
    display: grid;
    grid-area: navBar;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    
        'navLeft navRight'

    ;

}

.nav-bar-left{ 
    
    grid-area: navLeft;
    display: grid;
    place-items: center;
    font-size: 2.5em;
    color: #5e17eb;
    cursor: default;

}

.foot-bar-left{

    font-size: 1.7em;

}

.nav-bar-right{

    grid-area: navRight;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    
        'home projects dropDownContainer'

    ;
    place-items: center;
    font-size: 1.7em;
    font-weight: bold;

}

.foot-bar-right{

    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    
        'linkedin github gmail phone'

    ;

}

.link-tag-decoration{

    text-decoration: none;
    color: white;

}

.home{
    grid-area: home;
}
.project{
    grid-area: projects;
}
.more{
    grid-area: more;
}
.linkedin{
    grid-area: linkedin;
}
.github{
    grid-area: github;
}
.gmail{
    grid-area: gmail;
}
.phone{
    grid-area: phone;
}

.foot-bar{
    
    grid-area: footBar;

}

.nav-bar-right-button:hover{

    color: #ff0000fa;
    
}

.drop-down-container{

    grid-area: dropDownContainer;
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;

}

.drop-down-content{

    position: absolute;
    background-color: #024dae;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    
        'aboutMe'
        'education'
        'skills'
        'achievements'
    
    ;

    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;

}

.drop-down-content-button{

    padding: 0.4em;

}

.drop-down-content-button:hover{

    background-color: #012e68;
    color: red;

}

.drop-down-container:hover .drop-down-content{

    visibility: visible;

}

.more:hover{

    color: #ff0000fa;

}

.about-me{

    grid-area: aboutMe;

}

.education{

    grid-area: education;

}

.skills{

    grid-area: skills;

}

.achievements{

    grid-area: achievements;

}

.nav-bar-left:hover{

    font-style: italic;

}

.linkedin-icon{

    width: 2.3em;
    transition: transfrom 1s ease;

}

.linkedin-icon:hover{

    transform: scale(1.4);

}

.github-icon{

    width: 1.6em;
    transition: transfrom 1s ease;

}

.github-icon:hover{

    transform: scale(1.2);

}

.gmail-icon{

    width: 1.6em;
    transition: transfrom 1s ease;

}

.gmail-icon:hover{

    transform: scale(1.2);

}

.phone-icon{

    width: 1.6em;
    transition: transfrom 1s ease;

}

.phone-icon:hover{

    transform: scale(1.2);

}