/************ Common CSS ************/

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    background-color: black;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    
    'header'
    'main'
    'footer'
    
    ;

    min-height: 100vh;

}

header{ grid-area: header; }
main{ grid-area: main; }
footer{ grid-area: footer; }

/************ Common CSS ************/