/************ EDUCATION PAGE RESPONSIVENESS ************/

/************ 200-400px ************/

@media only screen and (min-width: 200px) and (max-width: 400px) {

    .upper-logo > .sjhss-logo{

        width: 75%;
        margin-top: 70%;
        margin-left: -1%;

    }

    .upper-logo > .fbic-logo{

        width: 75%;
        margin-left: -1%;
        margin-top: 50%;

    }

    .lower-logo > .diu-logo{

        width: 65%;
        margin-left: -5%;
        margin-top: 70%;

    }

    .logo-section > .upper-logo{

        margin-top: 8%;
        margin-left: 10%;
        display: grid;

    }

    .logo-section > .lower-logo{

        margin-top: -10%;
        margin-left: -10%;

    }

    .main-section > .logo-section{

        width: 20%;

    }

    .main-section > .details-section{

        width: 80%;
        display: grid;
        grid-template-columns: 10px 10px 10px;

    }

    .details-section > .diu-card{

        width: 1600%;

    }

    .details-section > .joseph-card{

        width: 1600%;

    }

    .details-section > .fbic-card{

        width: 1600%;

    }

    .diu-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 50%;
        height: 80%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .joseph-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 50%;
        height: 80%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .fbic-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 50%;
        height: 80%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .card > .card-footer{

        font-size: 18px;
        width: 43%;

    }

    .card > .card-title{

        font-size: 15px;
        width: 40%;

    }

    .card > .card-institute{

        font-size: 12px;
        width: 30%;
        margin-bottom: 22%;

    }

    .joseph-card > .card > .card-institute{

        font-size: 14px;
        width: 50%;
        margin-bottom: 8%;

    }

    .joseph-card > .card > .card-title{

        font-size: 20px;

    }

    .fbic-card > .card > .card-title{

        font-size: 20px;

    }

    .fbic-card > .card > .card-institute{

        font-size: 14px;
        width: 50%;
        margin-bottom: 8%;

    }

    .card > .card-result{

        font-size: 13px;

    }
   
}



/************ 401-600px ************/

@media only screen and (min-width: 401px) and (max-width: 600px) {

    .upper-logo > .sjhss-logo{

        width: 65%;
        margin-top: 70%;
        margin-left: -1%;

    }

    .upper-logo > .fbic-logo{

        width: 65%;
        margin-left: -1%;
        margin-top: 50%;

    }

    .lower-logo > .diu-logo{

        width: 55%;
        margin-left: -11%;
        margin-top: 70%;

    }

    .logo-section > .upper-logo{

        margin-top: 8%;
        margin-left: 10%;
        display: grid;

    }

    .logo-section > .lower-logo{

        margin-top: -10%;
        margin-left: -10%;

    }

    .main-section > .logo-section{

        width: 30%;

    }

    .main-section > .details-section{

        width: 70%;
        display: grid;
        grid-template-columns: 10px 10px 10px;

    }

    .details-section > .diu-card{

        width: 2300%;

    }

    .details-section > .joseph-card{

        width: 2300%;

    }

    .details-section > .fbic-card{

        width: 2300%;

    }

    .diu-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 40%;
        height: 60%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .joseph-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 40%;
        height: 60%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .fbic-card > .card{

        background-color: #ffbd59;
        border: 1px solid black;
        width: 40%;
        height: 60%;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 6px;
        box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
        text-align: left;
        margin-left: -95%;
        margin-top: 30%;

        display: grid;
        grid-template-rows: 43px 1fr 1fr 40px;
        grid-template-columns: 130px;
        grid-template-areas: 
        
        'card-title'
        'card-institute'
        'card-result'
        'card-footer'
        
        ;

    }

    .card > .card-footer{

        font-size: 18px;
        width: 80%;

    }

    .card > .card-title{

        font-size: 18px;
        width: 60%;

    }

    .card > .card-institute{

        font-size: 16px;
        width: 10%;
        margin-bottom: 22%;

    }

    .joseph-card > .card > .card-institute{

        font-size: 20px;
        width: 70%;
        margin-bottom: 8%;

    }

    .joseph-card > .card > .card-title{

        font-size: 25px;

    }

    .fbic-card > .card > .card-title{

        font-size: 25px;

    }

    .fbic-card > .card > .card-institute{

        font-size: 20px;
        width: 70%;
        margin-bottom: 8%;

    }

    .card > .card-result{

        font-size: 16px;

    }
   
}


/************ 600px and up ************/

@media only screen and (min-width: 600px) {

    .upper-logo > .sjhss-logo{

        width: 65%;
        margin-top: 30%;
        margin-left: -1%;

    }

    .upper-logo > .fbic-logo{

        width: 65%;
        margin-left: -1%;
        margin-top: 50%;

    }

    .lower-logo > .diu-logo{

        width: 55%;
        margin-left: -11%;
        margin-top: 70%;

    }

    .logo-section > .upper-logo{

        margin-top: 8%;
        margin-left: 10%;
        display: grid;

    }

    .logo-section > .lower-logo{

        margin-top: -10%;
        margin-left: -10%;

    }

    .main-section > .logo-section{

        width: 30%;

    }

    .main-section > .details-section{

        width: 70%;
        display: grid;
        grid-template-columns: 10px 10px 10px;

    }

    .details-section > .diu-card{

        width: 3000%;

    }

    .details-section > .joseph-card{

        width: 3000%;

    }

    .details-section > .fbic-card{

        width: 3000%;

    }

    .diu-card > .card{

        width: 40%;
        margin-left: -65%;
        margin-top: 30%;

    }

    .joseph-card > .card{

        width: 40%;
        margin-left: -85%;
        margin-top: 30%;

    }

    .fbic-card > .card{

        width: 40%;
        margin-left: -105%;
        margin-top: 30%;

    }

    .card > .card-footer{

        font-size: 25px;
        width: 90%;

    }

    .card > .card-title{

        font-size: 25px;
        width: 60%;

    }

    .card > .card-institute{

        font-size: 21px;
        width: 30%;
        margin-bottom: 22%;
        margin-top: 30%;

    }

    .joseph-card > .card > .card-institute{

        font-size: 22px;
        width: 70%;
        margin-bottom: 8%;

    }

    .joseph-card > .card > .card-title{

        font-size: 35px;

    }

    .fbic-card > .card > .card-title{

        font-size: 35px;

    }

    .fbic-card > .card > .card-institute{

        font-size: 25px;
        width: 70%;
        margin-bottom: 8%;

    }

    .card > .card-result{

        font-size: 23px;

    }
   
}


/************ 768px and up ************/

@media only screen and (min-width: 768px) {

    .upper-logo > .sjhss-logo{

        width: 60%;
        z-index: 999999;
        margin-top: 30%;
        margin-left: -3%;

    }

    .upper-logo > .fbic-logo{

        width: 60%;
        z-index: 999999;
        margin-left: -3%;
        margin-top: 20%;

    }

    .lower-logo > .diu-logo{

        width: 50%;
        z-index: 999999;
        margin-left: -18%;
        margin-top: 95%;

    }

    .logo-section > .upper-logo{

        margin-top: -10%;
        margin-left: 10%;
        display: grid;

    }

    .logo-section > .lower-logo{

        margin-top: -50%;
        margin-left: -10%;

    }
    
    .details-section > .diu-card{

        width: 4000%;

    }

    .details-section > .joseph-card{

        width: 4000%;

    }

    .details-section > .fbic-card{

        width: 4000%;

    }

    .diu-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -65%;
        margin-top: -10%;

    }

    .joseph-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -90%;
        margin-top: -10%;

    }

    .fbic-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -115%;
        margin-top: -10%;

    }
   
}

/************ 992px and up ************/

@media only screen and (min-width: 992px) {

    .upper-logo > .sjhss-logo{

        width: 40%;
        z-index: 999999;
        margin-top: 20%;
        margin-left: -3%;

    }

    .upper-logo > .fbic-logo{

        width: 40%;
        z-index: 999999;
        margin-left: -3%;
        margin-top: 10%;

    }

    .lower-logo > .diu-logo{

        width: 30%;
        z-index: 999999;
        margin-left: -38%;
        margin-top: 90%;

    }
    
    .details-section > .diu-card{

        width: 4000%;

    }

    .details-section > .joseph-card{

        width: 4000%;

    }

    .details-section > .fbic-card{

        width: 4000%;

    }

    .diu-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -85%;
        margin-top: -30%;

    }

    .joseph-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -90%;
        margin-top: -30%;

    }

    .fbic-card > .card{

        width: 40%;
        height: 60%;
        margin-left: -115%;
        margin-top: -30%;

    }
   
}

/************ 1200px and up ************/

@media only screen and (min-width: 1200px) {

    .upper-logo > .sjhss-logo{

        width: 40%;
        z-index: 999999;
        margin-top: 30%;
        margin-left: -3%;

    }

    .upper-logo > .fbic-logo{

        width: 40%;
        z-index: 999999;
        margin-left: -3%;
        margin-top: 10%;

    }

    .lower-logo > .diu-logo{

        width: 30%;
        z-index: 999999;
        margin-left: -38%;
        margin-top: 90%;

    }
    
    .details-section > .diu-card{

        width: 4000%;

    }

    .details-section > .joseph-card{

        width: 4000%;

    }

    .details-section > .fbic-card{

        width: 4000%;

    }

    .diu-card > .card{

        width: 50%;
        height: 70%;
        margin-left: -85%;
        margin-top: -30%;

    }

    .joseph-card > .card{

        width: 50%;
        height: 70%;
        margin-left: -90%;
        margin-top: -30%;

    }

    .fbic-card > .card{

        width: 50%;
        height: 70%;
        margin-left: -115%;
        margin-top: -30%;

    }

    .card > .card-footer{

        font-size: 30px;
        width: 100%;

    }

    .card > .card-title{

        font-size: 40px;
        width: 100%;

    }

    .card > .card-institute{

        font-size: 35px;
        width: 100%;
        margin-bottom: 22%;
        margin-top: 30%;

    }

    .joseph-card > .card > .card-institute{

        font-size: 30px;
        width: 100%;
        margin-bottom: 8%;

    }

    .joseph-card > .card > .card-title{

        font-size: 45px;

    }

    .fbic-card > .card > .card-title{

        font-size: 45px;

    }

    .fbic-card > .card > .card-institute{

        font-size: 35px;
        width: 100%;
        margin-bottom: 8%;

    }

    .card > .card-result{

        font-size: 25px;
        margin-top: 30%;

    }
   
}

/************ 1920px and Up ************/

@media only screen and (min-width: 1920px) {

    .main-section > .details-section{

        height: 100%;
        width: 60%;
        display: flex;
        justify-content: space-around;

    }

    .logo-section > .upper-logo{

        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0%;

    }

    .logo-section > .lower-logo{

        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -25%;

    }
    
    .upper-logo > .sjhss-logo{

        width: 50%;
        margin-top: 8%;
        margin-left: -10%;

    }

    .upper-logo > .fbic-logo{

        width: 50%;
        margin-left: -5%;

    }

    .lower-logo > .diu-logo{

        width: 40%;
        margin-top: 10%;
        margin-left: 10%;

    }
    
    .details-section > .diu-card{

        width: 6000%;

    }

    .details-section > .joseph-card{

        width: 6000%;

    }

    .details-section > .fbic-card{

        width: 6000%;

    }

    .diu-card > .card{

        width: 70%;
        height: 70%;
        margin-left: 30%;
        margin-top: -30%;

    }

    .joseph-card > .card{

        width: 70%;
        height: 70%;
        margin-left: 20%;
        margin-top: -30%;

    }

    .fbic-card > .card{

        width: 70%;
        height: 70%;
        margin-left: 0%;
        margin-top: -30%;

    }

    .card > .card-footer{

        font-size: 30px;
        width: 100%;

    }

    .card > .card-title{

        font-size: 40px;
        width: 100%;

    }

    .card > .card-institute{

        font-size: 35px;
        width: 100%;
        margin-bottom: 22%;
        margin-top: 30%;

    }

    .joseph-card > .card > .card-institute{

        font-size: 30px;
        width: 100%;
        margin-bottom: 8%;

    }

    .joseph-card > .card > .card-title{

        font-size: 45px;

    }

    .fbic-card > .card > .card-title{

        font-size: 45px;

    }

    .fbic-card > .card > .card-institute{

        font-size: 35px;
        width: 100%;
        margin-bottom: 8%;

    }

    .card > .card-result{

        font-size: 25px;
        margin-top: 30%;

    }
   
}

/************ EDUCATION PAGE RESPONSIVENESS ************/