/************ Footer Bar ************/

footer{

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;

}

.footer-text{ font-size: 25px; }

.footer-content > a{

    display: flex;
    justify-content: center;
    align-items: center;

}

/************ Footer Bar ************/