/************ Index Page CSS ************/

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    background-color: black;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    
    'header'
    'main'
    'footer'
    
    ;

    min-height: 100vh;

}

header{ grid-area: header; }
main{ grid-area: main; }
footer{ grid-area: footer; }


/************ CARD SECTION ************/

.main-section{

    height: 100%;
    display: flex;

}
            
.profile-section{

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.details-section{

    width: 50%;

}

.main-title-section{

    height: 20%;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub-details-section{

    height: 80%;
    display: flex;

}

.about-card{

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{

    background-color: #ffbd59;
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgb(73, 68, 65);

}

.extra-card{

    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-top: 16%;

}

.first-circle-section{

    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-circle{

    background-color: #ffbd59;
    width: 50%;
    height: 60%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgb(73, 68, 65);

}

.remaining-circle-section{

    height: 60%;
    display: flex;

}

.second-circle{

    background-color: #ffbd59;
    width: 50%;
    height: 40%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgb(73, 68, 65);

}

.third-circle{

    background-color: #ffbd59;
    width: 50%;
    height: 40%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding: 1px 16px;
    box-shadow: 0 4px 8px 0 rgb(73, 68, 65);
    margin-left: 10%;

}

.profile-picture{

    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(190, 181, 175);

}

.profile-picture:hover{

    border: 1px solid red;
    background-color: white;

}

.main-title-section:hover {

    color: red;
    cursor: default;
    font-style: italic;

}

.card:hover{

    background-color: #eca437;
    cursor: default;

}

.first-circle:hover{

    background-color: #eca437;
    cursor: default;

}

.second-circle:hover{

    background-color: #eca437;
    cursor: default;

}

.third-circle:hover{

    background-color: #eca437;
    cursor: default;

}

/************ CARD SECTION ************/


/************ Index Page CSS ************/