/************ Navigation Bar ************/

.navigation-bar{

    background-image: linear-gradient(to right, #5bdce5, #014cae);
    height: 100px;
    display: flex;
    cursor: pointer;

}

.title-text{

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #5e17eb;

}

.navigation-content{

    width: 60%;
    display: flex;
    justify-content: space-around;

}

.navigation-content > button{

    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

/************ Dropdown ************/

.nav-drop-down-container{

    width: 100%;
    position: relative;

}

#drop-down-button{

    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

.nav-drop-down-content{

    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;

}

.nav-drop-down-content > button{

    background-color: #014cae;
    border: none;
    width: 100%;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

.nav-drop-down-container:hover .nav-drop-down-content{

    display: block;

}

.nav-drop-down-content button:hover{

    background-color: #00214d;
    color: red;

}

.navigation-content > button:hover{

    color: #00214d;

}

#drop-down-button:hover{

    color: #00214d;

}

/************ Dropdown ************/

/************ Navigation Bar ************/